---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-3xl mx-auto py-12">
    <h1 class="text-4xl font-bold mb-4">
    Unmanned Systems Canada Student UAS Competition
    </h1>

   <div class="flex justify-between items-center mb-8">
      <p class="text-lg text-gray-600">
        Software Team Lead (2022) · Software Advisor (2023-2024)
      </p>
      <p class="text-lg text-gray-600">
        Jan 2022 - May 2024
      </p>

</div>
    <div class="space-y-6">
        <h2 class="text-2xl font-semibold">Overview</h2>
        <p>Software Team Lead for UBCO Aerospace in the Unmanned Systems Canada Student UAS Competition 2022, developing missions for autonomous UAVs operating under strict competition constraints</p>
    </div>

    <div class="grid md:grid-cols-2 gap-6 my-10">
        <img
          src="/ubco_aerospace_jellyfish_2.webp"
          alt="Jellyfish-quadcopter"
          class="w-full rounded-lg"
        />
      
        <img
          src="/ubco_aerospace_orca_2.webp"
          alt="Orca-helicopter"
          class="w-full rounded-lg"
        />
      </div>
      
      
    <div>
        <h2 class="text-2xl font-semibold">Mission</h2>
        <p>The competition required autonomous response to security scenarios, including:</p>
        <ul class="list-disc ml-6">
          <li>Detecting and disposing of a suspicious device near a secure facility</li>
          <li>Automatically responding to perimeter intrusions via QR-coded alert messages</li>
          <li>Tracking intruders while minimizing UAV noise signature</li>
        </ul>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">My Role</h2>
        <ul class="list-disc ml-6">
        <li>Led software development and mission operations for UBCO Aerospace competition UAV</li>
        <li>Developed Python scripts integrated with ArduPilot (Pixhawk) for mission logic and autonomous task execution</li>
        <li>Implemented QR-code detection using Python and OpenCV to dynamically update mission targets</li>
        <li>Configured and executed complex missions using Mission Planner</li>
        <li>Operated the UAV through the ground control station during competition runs</li>
        <li>Coordinated in real-time with the pilot and flight crew for mission execution and safety compliance</li>
        <li>Conducted pre-flight validation, system checks, and parameter tuning during testing</li>
        <li>Tuned flight parameters and validated system performance through iterative flight testing</li>
        </ul>
      </div>
      
      <div class="grid md:grid-cols-2 gap-6 my-10">
      <img
      src="/ubco_aerospace_flight_line.webp"
      alt="orca-helicopter"
      class="h-72 w-auto mx-auto my-10 rounded-lg"
    />
    <img
      src="/ubco_aerospace_flight_line_2.webp"
      alt="ubco_aerospace_flight_line_2.webp"
      class="w-full max-w-lg mx-auto my-10 rounded-lg"
    />
    </div>

      <div>
        <h2 class="text-2xl font-semibold">Results</h2>
        <p>
        Achieved <b>2nd Place</b> Overall and received the <b>Innovation Award</b> in consecutive national competitions (2022 & 2023)        
        </p>
      </div>

      <img
      src="/ubco_aerospace_team.webp"
      alt="ubco_aerospace_team"
      class="w-full max-w-lg mx-auto my-10 rounded-lg"
    />

    </div>
  </div>
</BaseLayout>
