---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-3xl mx-auto py-12">
    <h1 class="text-4xl font-bold mb-4">
      Position Feedback System for ARTMS
    </h1>

   <div class="flex justify-between items-center mb-8">
      <p class="text-lg text-gray-600">
        Embedded Systems Lead
      </p>
      
      <p class="text-lg text-gray-600">
        Sep 2025 - Apr 2026
      </p>
</div>

    <div class="space-y-6">
      <div>
        <h2 class="text-2xl font-semibold">Overview</h2>
        <p> Designing a gimbal with optical system that provides real time tracking of a class 2 laser 100m away from the gimbal at 1m/s. 
        </p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Design Constraints</h2>
        <p>Optical Constraints</p>
        <ul class="list-disc ml-6">
          <li>No component attachment allowed on the drone side.</li>
          <li>Laser power limited to class 2</li>
          <li>Setup must be compact and portable.</li>
          <li></li>
        </ul>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Design Process</h2>
        <p></p>
          <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          />
          <p>All of the sensor PCBs and main board run FreeRTOS. Each sensor PCB performs sensor fusion locally and transmits its status to the main board via CAN bus.</p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Impact</h2>
        <p>
          The solution provides a real-time capsule feedback system connected to the client's HMI. This feedback system would reduce production delays while increasing throughput of the system.
        </p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Technical Details</h2>
        <p>I designed the PCB schematics in Altium:</p>
        
          <div class="my-10">
          <iframe
            src="/sensorPCB_schematics.pdf"
            class="w-full h-[700px] border rounded-lg"
          ></iframe>
          </div>

         <p> PCB layout is currently in progress!</p>
      </div>

    </div>
  </div>
</BaseLayout>
