---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="max-w-3xl mx-auto py-12">
    <h1 class="text-4xl font-bold mb-4">
      Prototype Engineering Intern at Coonong
    </h1>

   <div class="flex justify-between items-center mb-8">
      <p class="text-lg text-gray-600">
        Simulation Lead
      </p>
      
      <p class="text-lg text-gray-600">
        May 2024 - Aug 2024
      </p>
</div>

    <div class="space-y-6">
      <div>
        <h2 class="text-2xl font-semibold">Overview</h2>
        <p> Assist prototyping efforts from design engineers at CooNong by providing simulation data of cooling solutions, as well as designing a data collection system to acquire physical prototype performance metrics.
        </p>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Problem</h2>
        <ul class="list-disc ml-6">
          <li>Prototyping delays due to inefficient validation mechanism, physical prototype was the only effective validation method which guarantees slow development cycles.</li>
          <li>ineffective data acquisition methods, certain performance metrics were not collected by the testing rig regarding the temperature of the system at specific locations to validate thermal simulation effectiveness at higher accuracy.</li>
        </ul>
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Solution</h2>
        <p>I designed a SOP for the data collection system that I implemented with a high accuracy temperature probe, as well as a full SOP documentation on thermal simulation procedure. This is the first step to implementing simulation into the design process, which I unfortunately weren't able to see all the way through.</p>
          <!-- <img
            src="/capstone_feedback_system_architecture.svg"
            alt="Capstone system architecture diagram"
            class="w-full max-w-3xl my-8"
          /> -->
          <!-- <p>asd</p> -->
      </div>

      <div>
        <h2 class="text-2xl font-semibold">Impact</h2>
        <p>
          significantly sped up design-prototype-validation cycles. Exposed crucial thermal data to make them more observable, speeding up design analysis. Participated in SOP documentation for simulation procedure.
        </p>
      </div>

      <div>
        <h2 class="pt-60 text-5xl font-semibold"> This site is under construction </h2>
        <!-- <p></p> -->
        
          <!-- <div class="my-10">
          <iframe
            src="/sensorPCB_schematics.pdf"
            class="w-full h-[700px] border rounded-lg"
          ></iframe>
          </div> -->

         <!-- <p> PCB layout is currently in progress!</p> -->
      </div>

    </div>
  </div>
</BaseLayout>
